<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite" configfailurepolicy="continue">
    <test name="Find and swipe">
        <classes>
            <class name="online_store_simple_tests.FindAndSwipeTests"/>
        </classes>
    </test>
</suite>
